body{

    background-color: lightskyblue;
}


form input{
    display: block;
    font-size: large;
    margin: 0 0 20px;
    padding: 5px 25px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
div{

    background-color: lightskyblue;
    padding:30px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;
}


#titulo{
    text-align: center
}

#porcentagem{
    text-align: center

}

#calcular{
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 50px;
    border-radius: 60px;
    text-align: center;
    font-size: 18px;
    width: 30%;
    min-width: 50px;
    box-shadow: 0px 2px 20px #4446;
}

#calcular:hover{
    background-color: rgb(223,201,98);
    text-align: center;
}

#rodape{
    position: relative;
    bottom: 0;
    background-color: lightblue;
    color: black;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

table{
    
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    
    margin-left: auto;
    margin-right: auto;

}

th, td{
    
    padding: 10px 20px;
    border: 1px solid #000;

}