<!DOCTYPE html>
<html lang="pt-BR">
<head>

   <meta charset="UTF-8">
   <title>Simulador de Parcelamento</title> 
   <meta name="viewport" content="width=device-width,initial-scale=1">
   <link rel="stylesheet" media="screen" href="../public/home/style.css">

</head>
<body>

  <div>
  <h1 id="titulo">Simulador de Parcelamento</h1>
  </br>
  <form>
    <input type="number" id="produto" placeholder="Valor do produto em R$" onchange="formata()" min='1.00' step="0.01" />
    <input type="number" id="parcela" placeholder="Número de parcelas" onkeypress="return event.charCode >=48 && event.charCode <=57;" />
    <input type="button" id="calcular" value="calcular" onclick="calculoParcelamento()"/>
    <p id="porcentagem"><b></b></p>
    <table></table>
  </form>

  </div>
  <center><p id='rodape'>Autor: Danilo Correia Viana</p></center>

  <script src="../public/home/script.js"></script>
  
</body>
</html>